body{
    font-family:"Playwrite HR", cursive;
    display: flex;
    margin: 0px;
    padding: 0px;
    width: auto;
}
*{
    margin: 0px;
    padding: 0px; 
}
.img-text1{
    color: rgb(251, 250, 248);
    position: absolute;
    top: 24%;
    left: 5%;
}
.img-text2{
    color: aliceblue;
    position: absolute;
    top: 32%;
    left: 2%;
}
.login-lo{
    margin-top:50px ;
    justify-content: center;
    margin-left: 250px;
}
h1{
    font-family: "Playwrite CZ", cursive;
    font-size:xxx-large;
}
h5{
    font-size: 15px;
    margin-left: 35px;
}
.input1{
    margin-top: 35px;
}
.input2{
    margin-left:220px;
    margin-top: 25px;
    padding: 10px;
    width: 250px;
    border-radius: 15px;
}
#sub{
    margin-left: 235px;
    margin-top: 40px;
    background-color: rgb(177, 177, 236);
    font-size: 18px;
}
#sub:hover{
    background-color: blueviolet;
}
.or{
    margin-left:140px;
    margin-top: 60px;
}
.logo{
    margin-left:260px;
    justify-content: space-between;
    margin-top: 60px;
}
.logo1{
    margin-right: 45px;
}
.register{
    font-size: small;
    margin-left:360px;
    margin-top: 60px;
}
.login{
    background-color: rgb(226, 209, 242);
}